
.App{
    .Container{
        //login and register
        .auth{

           display: flex;
           align-items: center;
           justify-content: center;
           height: 100vh;
           background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/leaves-of-spathiphyllum-cannifolium-thanabodin-jittrong.jpg');
           flex-direction: column;
           background-repeat: no-repeat;
           background-size: cover;

           h1{
            font-size: 80px;
            margin-top: 25px;
            color: #6ECCAF;
            font-family: 'Oooh Baby', cursive;
           }
           h2{
            font-size: 28px;
            margin-bottom: 10px;
            margin-top: 10px;
            color: #6ECCAF;
            font-family: 'Rubik', sans-serif;
           }

           form{
            display: flex;
            flex-direction: column;
            background-color: rgba(0,0,0,0.5);
            margin: auto;
            padding: 50px;
            height: 500px;
            align-items: center;
            width:400px;
            gap:20px;
            border: 3px solid #6ECCAF;
            border-radius: 25px;

            }

            input{
                font-weight: 25px;
                font-size: 18px;
                padding: 15px;
                border: none;
                border-bottom: 2px;
                width: 65%;
                border-radius: 15px;
                background-color: #6ECCAF;
                color: #3C2C3E;
            }

            button{
                border:0px;
                width:175px;
                margin-top: 50px;
                border-radius: 5px;
                font-size: 18px;
                color: #3C2C3E;
                background-color: #6ECCAF;
                font-family: 'Rubik', sans-serif;
                padding: 10px;
            }

        }
   }
}